In [3]:
import numpy as np
import pandas as pd

data ={
    'product' : ['Laptop', 'Mouse', 'Monitor', 'Laptop', 'Mouse', 'Monitor'],
    'Category' : ['Electronics', 'Accessories', 'Electronics', 'Electronics', 'Accessories', 'Electronics'],
    'Price' : [1000, 50, 300, 1200, 45, 400],
    'Quantity' : [1, 5, 2, 1, 10, 3],
    'City' : ['Mumbai', 'Delhi', 'Mumbai', 'Bangalore', 'Mumbai', 'Delhi']
}

df = pd.DataFrame(data) # takes that raw dictionary and forces it into the Table format (Rows and Columns) so Pandas can read it.
print(df.head())

   product     Category  Price  Quantity       City
0   Laptop  Electronics   1000         1     Mumbai
1    Mouse  Accessories     50         5      Delhi
2  Monitor  Electronics    300         2     Mumbai
3   Laptop  Electronics   1200         1  Bangalore
4    Mouse  Accessories     45        10     Mumbai

In [4]:
print(df.info())

'''
Non-Null Count: Tells you if data is missing. If you have 1000 rows, but "Age" says "800 non-null", you know 200 people are missing their age.

Dtype (Data Type): Crucial. If your "Price" column is listed as object (text) instead of int64 (number), you cannot do math on it. You need to know this immediately to fix it.

Summary

'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   6 non-null      object
 1   Category  6 non-null      object
 2   Price     6 non-null      int64
 3   Quantity  6 non-null      int64
 4   City      6 non-null      object
dtypes: int64(2), object(3)
memory usage: 372.0+ bytes
None

In [11]:
df['Revenue'] = df['Price'] * df['Quantity']

# City's Revenue
city_revenue = df.groupby('City')['Revenue'].sum()
print(city_revenue)

avg_price = df.groupby('Category')['Price'].mean()
print(avg_price)

City
Bangalore    1200
Delhi        1450
Mumbai       2050
Name: Revenue, dtype: int64
Category
Accessories     47.5
Electronics    725.0
Name: Price, dtype: float64

In [12]:
Count = df.groupby('Category')['Price'].count()
print(Count)

Category
Accessories    2
Electronics    4
Name: Price, dtype: int64

# **Merging**

In [21]:
import pandas as pd
Customers = pd.DataFrame({
    'CustomerID':[101, 102, 103],
    'Name' : ['Rahul', 'Anjali', 'Rohan']
})

Orders = pd.DataFrame({
    'OrderID': [1, 2, 3, 4],
    'CustomerID':[101, 102, 103, 104],
    'Amount' :[200, 300, 400, 500]
})

pd_merged = pd.merge(Customers, Orders, on='CustomerID', how='inner')
print(pd_merged)

   CustomerID    Name  OrderID  Amount
0         101   Rahul        1     200
1         102  Anjali        2     300
2         103   Rohan        3     400

# **Pivot Tables**

In [28]:
pivot = pd.pivot_table(
    values='Revenue',
    index='Category',
    columns='City',
    data=df,
    aggfunc='sum',
    fill_value=0
)

print(pivot)

City         Bangalore  Delhi  Mumbai
Category
Accessories          0    250     450
Electronics       1200   1200    1600

# **ðŸš¨ Task:**
Using the df created above.
Filter the data to show only sales in 'Mumbai'.
Calculate the total number of items sold (Quantity) in Mumbai.
Sort the original dataframe by Revenue in descending order (highest revenue top).

In [38]:
import pandas as pd
data_from_above = {
    'Product': ['Laptop', 'Mouse', 'Monitor', 'Laptop', 'Mouse', 'Monitor'],
    'Category': ['Electronics', 'Accessories', 'Electronics', 'Electronics', 'Accessories', 'Electronics'],
    'Price': [1000, 50, 300, 1200, 45, 400],
    'Quantity': [1, 5, 2, 1, 10, 3],
    'City': ['Mumbai', 'Delhi', 'Mumbai', 'Bangalore', 'Mumbai', 'Delhi']
}

df = pd.DataFrame(data_from_above)
df['Revenue'] = df['Price'] * df['Quantity']

# Filter the data to show only sales in 'Mumbai'.
print('ONLY SALES IN MUMBAI:')
mumbai_Sales = df[df['City'] == 'Mumbai']
print(mumbai_Sales)

# Calculate the total number of items sold (Quantity) in Mumbai.
print('TOTAL ITEMS SOLD IN MUMBAI:')
items_sold = mumbai_Sales['Quantity'].sum()
print(items_sold)

# Sort the original dataframe by Revenue in descending order (highest revenue top).
print('SORTED BY REVENUE:')
sorted_df = df.sort_values(by='Revenue', ascending=False)
print(sorted_df)

ONLY SALES IN MUMBAI:
   Product     Category  Price  Quantity    City  Revenue
0   Laptop  Electronics   1000         1  Mumbai     1000
2  Monitor  Electronics    300         2  Mumbai      600
4    Mouse  Accessories     45        10  Mumbai      450
TOTAL ITEMS SOLD IN MUMBAI:
13
SORTED BY REVENUE:
   Product     Category  Price  Quantity       City  Revenue
5  Monitor  Electronics    400         3      Delhi     1200
3   Laptop  Electronics   1200         1  Bangalore     1200
0   Laptop  Electronics   1000         1     Mumbai     1000
2  Monitor  Electronics    300         2     Mumbai      600
4    Mouse  Accessories     45        10     Mumbai      450
1    Mouse  Accessories     50         5      Delhi      250